$primary-color-opec: rgba(24,20,57,.66);
$primary-color-opec2: rgba(11,9,34,.66);
$primary-color-opec3: rgba(11,9,34,.46);
$primary-color-opec4: rgba(25,21,44,.98);
$primary-color-opec4-dark: rgba(25,21,44,1);
$default-color-dark-opec: rgba(0,0,0,.4);





$primary-color-dark: #181439;
$primary-color-dark2: #060611;
$menu-border-color: #312e42;
$secondarycolor: #01b9ff;
$secondarycolor-opec: rgba(1,185,255,.7);
$secondarycolor2: #014fb4;
$defaultcolor: #adadad;
$defaultcolor2: #bcbcbc;
$defaultcolor3: #ddd;
$notification: red;
$commoncolor: #fff;
$commoncolor-opec: rgba(255,255,255,.8);
$commoncolor2: #f7f7f7;
$font: 'Ubuntu', sans-serif;
$default-font-size: 14px;

$p-t: 80px;
$p-b: 80px;
$p-l: 35px;
$p-r: 35px;

